{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {# Afficher le formulaire de création #}
    </div>
{% endblock %}

{% block title %}
Create new serie | {{ parent() }}
{% endblock %}

