{% extends 'base.html.twig' %}

{% block body %}
    Todo : Afficher le détail de la série | {{ parent() }}
{% endblock %}

{% block title %}
    <h2>Todo : Le titre de la série</h2>

    {# Afficher toutes les infos de la série #}
{% endblock %}

